.search {
  padding-top: 34px;
  padding-bottom: 67px;

  text-align: center;
  text-transform: uppercase;
}

.search__title {
  margin-bottom: 33px;

  font-size: 30px;
  line-height: 26px;
}

.search__text {
  margin-bottom: 47px;

  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.search__search {
  width: 458px;
}
