.social {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-bottom: 0;
  margin-left: -5px;
  padding-left: 0;
}

.social__item:not(:last-child) {
  margin-right: 6px;
}

.social__link {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 48px;
  height: 48px;

  color: #ffffff;

  background-color: #81b3d2;
}
